<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<p> 안녕~ This is index.html </p>
<div>
    {% if user.is_authenticated %}
        <a href="{% url 'users:logout' %}">로그아웃</a>
        {% if user.access_key %}
<!--            {#   FIXME: 다른 테스트로 가는 태그   #}-->
            <div>
                <a href="{% url 'iam:iam' %}">IAM</a>
                <a href="{% url 's3:s3' %}">S3</a>
                <a href="{% url 'vpc:vpc' %}">VPC</a>
                <a href="{% url 'ec2:ec2' %}">EC2</a>
                <a href="{% url 'rds:rds' %}">RDS</a>
            </div>
        {% else %}
            {#  AWS 액세스 키를 입력받을 폼  #}
            <a href="{% url 'users:access' %}">액세스 키 입력</a>
        {% endif %}

    {% else %}
        <a href="{% url 'users:signup' %}">회원가입</a>
        <a href="{% url 'users:login' %}">로그인</a>
    {% endif %}
</div>
</body>
</html>